.K6IBc- {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center
}

.K6IBc- .iUmrbN {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px
}

.K6IBc- .BXlZdc,.K6IBc- .iUmrbN {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.K6IBc- .BXlZdc {
    color: #388e3c;
    padding-top: 8px
}

.K6IBc- ._3o3r66 {
    opacity: .6;
    padding-top: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.K6IBc- ._3e_Ruh {
    font-size: 13px;
    font-size: 12px\9
}

.K6IBc- ._3e_Ruh ._18khS9 {
    padding-top: 7px;
    display: inline-block
}

.K6IBc- ._3e_Ruh .L200Vs {
    display: inline-block;
    text-decoration: line-through;
    color: #535353;
    opacity: .5
}

.K6IBc- ._3e_Ruh .M_qL-C {
    font-size: 18px;
    font-weight: 500;
    padding-top: 4px;
    display: inline-block;
    padding-right: 5px
}

.K6IBc-._1kRlRX .BXlZdc {
    font-size: 16px
}

.K6IBc-:hover ._2PX1l4 {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

._1oegQN {
    padding: 25px 15px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 366px;
    text-align: center
}

._1oegQN ._1Jd8bY {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

._1oegQN ._3eNEw0 {
    color: #388e3c;
    padding: 5px 0
}

._1oegQN ._2EOB0J {
    font-size: 13px
}

._1oegQN ._2EOB0J ._1e0d9Z {
    padding-top: 7px
}

._1oegQN ._2EOB0J .GDqdMk {
    display: inline-block;
    text-decoration: line-through;
    color: #535353;
    opacity: .5
}

._1oegQN ._2EOB0J ._33mtgx {
    display: inline-block;
    color: #388e3c;
    margin-left: 11px
}

._1oegQN ._2EOB0J ._3RTCM2 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 4px
}

._1oegQN.imhNN2 ._3eNEw0 {
    font-size: 16px
}

._1oegQN:hover ._3RgrYT {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.fkclp ._3JslKL,.fkhp ._3JslKL {
    margin-bottom: 16px;
    height: auto
}

._3JslKL {
    border-top: 1px solid #eaeaea;
    height: 100%
}

._3JslKL ._1dPkhG {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

._3JslKL ._1dPkhG .puxlXr {
    font-size: 22px;
    line-height: 32px;
    display: inline-block;
    font-weight: 500
}

._3JslKL ._1dPkhG .Hkx0N0 {
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400
}

._3JslKL ._1dPkhG .Yg3scO {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    margin-left: 60px;
    font-size: 16px;
    color: #7f7f7f;
    vertical-align: top;
    padding-top: 7px
}

._3JslKL ._1dPkhG ._2iEw0G {
    margin: 0 10px -8px -35px
}

._3JslKL ._1dPkhG ._2Umlwf {
    float: right
}

._3JslKL._2tVPFM {
    background-color: #fafafa;
    height: 330px
}

._3JslKL._2tVPFM ._1dPkhG {
    border: none;
    padding: 20px
}

._3JslKL._2tVPFM ._2QUpwp {
    width: 96%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)
}

._3JslKL._2OnCnY .Yg3scO {
    color: #f26365;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

._3JslKL._2OnCnY .Yg3scO:before {
    display: none
}

._3JslKL._2OnCnY ._2QUpwp {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(1);
    filter: grayscale(1)
}

._3JslKL._3IbtfT {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow: hidden
}

._3JslKL._3IbtfT ._2L-kFp {
    width: 230px;
    background-repeat: no-repeat;
    background-position: bottom
}

._3JslKL._3IbtfT .VZHmCr {
    text-align: center;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 28px 10px 124px
}

._3JslKL._3IbtfT .puxlXr,._3JslKL._3IbtfT .Yg3scO {
    font-size: 30px;
    line-height: 1.38;
    font-weight: 400
}

._3JslKL._3IbtfT .puxlXr {
    word-wrap: break-word
}

._3JslKL._3IbtfT .Yg3scO {
    color: #2455f4;
    font-size: 20px;
    margin-top: 10px
}

._3JslKL._3IbtfT ._18pATa {
    display: inline-block;
    margin-right: 8.5px;
    vertical-align: text-bottom
}

._3JslKL._3IbtfT ._2QUpwp {
    width: calc(100% - 230px)
}

._3JslKL._3IbtfT ._2Umlwf {
    margin-top: 24px
}

._3JslKL._3IbtfT._3tBiIY {
    height: 362px
}

._3JslKL._3IbtfT._3tBiIY ._2QUpwp {
    padding-top: 20px
}

.ATLsvk {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ATLsvk.ijt358 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._29nFqJ {
    position: relative;
    font-size: 15px;
    vertical-align: top;
    font-weight: 400;
    padding-top: 6px
}

.OA5-ty {
    color: #ff6161;
    margin: 2px 0;
    padding: 0
}

.OA5-ty._3LeAoc {
    display: inline-block;
    margin-right: 15px;
    color: #ff6161
}

._3tulGT {
    padding: 2px 0;
    margin: 0
}

._3tulGT,._3tulGT._3LeAoc {
    color: #2874f0;
    cursor: pointer
}

._3tulGT._3LeAoc {
    display: inline-block;
    margin-right: 8px
}

._1_o8Ni {
    margin-left: 5px
}

._2tnqd0._1_l8MX ._2VeolH,._2tnqd0._1_l8MX ._232NW7 {
    width: 100%
}

._2tnqd0 {
    overflow: hidden;
    position: relative;
    -webkit-filter: none!important;
    filter: none!important;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter')
}

._2tnqd0 .dImZt_+._2VeolH {
    opacity: 0
}

._2tnqd0 ._2VeolH,._2tnqd0 ._232NW7 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    transition: opacity .5s linear
}

._2tnqd0 ._2VeolH {
    width: 100%;
    height: 100%
}

._2tnqd0 ._232NW7 {
    opacity: 0
}

._2tnqd0 ._2VeolH {
    opacity: 1;
    margin: auto
}

._2tnqd0 ._3I5S6S {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="15" /></filter></svg>#filter');
    -webkit-filter: blur(15px);
    filter: blur(15px)
}

._2tnqd0 .dImZt_._232NW7 {
    opacity: 1;
    margin: auto
}

._2tnqd0._2FRM9i ._2VeolH,._2tnqd0._2FRM9i ._232NW7 {
    height: 100%
}

._2yY25_ {
    margin-bottom: 16px
}

._2yY25_ ._2uSmFq {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block
}

.Q0QICT {
    display: block;
    line-height: 0
}

.fkclp ._3sIVY8,.fkhp ._3sIVY8,.Q0QICT {
    margin-bottom: 16px
}

._3sIVY8 {
    border-top: 1px solid #e0e0e0;
    background-color: #fafafa;
    padding: 0 10px;
    overflow: hidden;
    will-change: transform
}

._3sIVY8 ._1OuFHs {
    padding: 18px 0 0 12px
}

._3sIVY8 ._1OuFHs .ZuvWTG {
    font-size: 20px;
    line-height: 32px;
    display: inline-block;
    font-weight: 500
}

._3sIVY8 ._1OuFHs ._2PVqeG {
    font-size: 14px;
    opacity: .6;
    font-weight: 400
}

._3sIVY8 ._1nwamC {
    padding: 18px 9px;
    width: 100%;
    text-align: center;
    overflow: hidden
}

._3sIVY8 ._1nwamC ._24l3zy {
    display: inherit;
    transition: box-shadow .5s ease-in-out;
    border-radius: 4px 4px;
    width: 392px
}

._3sIVY8 ._1nwamC ._24l3zy img {
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out
}

._3sIVY8 ._1nwamC ._24l3zy .O3lFtj {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 4px 4px 0 0;
    z-index: 1
}

._3sIVY8 ._1nwamC ._24l3zy ._3_wIFo {
    vertical-align: top;
    background-color: #fff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    text-align: left;
    padding: 12px 16px;
    position: relative;
    border: 1px solid #e0e0e0;
    border-top: none
}

._3sIVY8 ._1nwamC ._24l3zy ._3_wIFo .ZuvWTG {
    font-size: 16px;
    font-weight: 500;
    width: 250px;
    text-overflow: ellipsis
}

._3sIVY8 ._1nwamC ._24l3zy ._3_wIFo ._3Y7fAO {
    opacity: .6;
    padding-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    width: 250px;
    text-overflow: ellipsis
}

._3sIVY8 ._1nwamC ._24l3zy ._3_wIFo ._14YpQF {
    border-radius: 2px;
    padding-top: 12px;
    color: #2874f0;
    background: #fff;
    box-shadow: 0 .5px 1.5px 0 rgba(0,0,0,.24);
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 12px;
    font-weight: 500;
    width: 95px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase
}

._3sIVY8 ._1nwamC:hover img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

._3sIVY8 ._1nwamC:hover ._24l3zy {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.11)
}

._3ooaa4 {
    overflow: hidden;
    position: relative
}

._3ooaa4 ._1r-M-1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out
}

._3ooaa4 ._37vuDR {
    display: inline-block
}

._3ooaa4 ._3toH2I,._3ooaa4 ._26sdfg {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - 52px);
    width: 47px;
    height: 104px;
    background-color: hsla(0,0%,100%,.98);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.11);
    transition: opacity .1s ease-in
}

._3ooaa4 ._3toH2I.xkPeHk,._3ooaa4 ._26sdfg.xkPeHk {
    opacity: 0
}

._3ooaa4 ._3toH2I {
    left: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

._3ooaa4 ._26sdfg {
    right: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

._3ooaa4 ._2gp_O1 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._3ooaa4 ._3Zc0XY {
    fill: #212121
}

.fkclp ._1EgM1b,.fkhp ._1EgM1b {
    margin-bottom: 16px
}

._1EgM1b {
    max-width: 1680px
}

._1EgM1b ._3ZUwcz {
    height: 280px;
    width: 100%;
    overflow: hidden
}

._1EgM1b ._3MPlks {
    position: relative;
    display: block;
    height: 280px;
    width: 100%;
    text-align: center
}

._1EgM1b ._3MPlks img {
    position: absolute;
    height: 280px;
    min-width: 1680px;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.NYE9b8:last-child {
    padding-right: 0;
    padding-left: 8px
}

.fkclp .ezCO6E,.fkhp .ezCO6E {
    margin-bottom: 16px
}

.NYE9b8 {
    padding: 0 4px
}

.NYE9b8 ._1bn9xk {
    display: block;
    width: 100%;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.08);
    overflow: hidden
}

.NYE9b8:first-child {
    padding-left: 0;
    padding-right: 8px
}

.fkclp ._2Hzcqp,.fkhp ._2Hzcqp {
    margin-bottom: 16px
}

._2Hzcqp {
    height: 192px
}

._2Hzcqp .yHn1qE {
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

._2Hzcqp ._1N-ymU {
    max-width: 150px;
    height: auto
}

._2Hzcqp ._3b7jyH {
    margin-bottom: 16px;
    margin-top: 24px
}

._29UPft {
    text-align: center;
    max-width: 156px;
    display: block;
    margin: auto
}

._29UPft:hover {
    color: #2874f0
}

._29UPft:hover ._3b7jyH {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
}

.fkclp ._3Gzq44,.fkhp ._3Gzq44 {
    margin-bottom: 16px
}

._3Gzq44 {
    overflow: hidden
}

._12ed1J {
    display: block;
    line-height: 0
}

._2H2nMM {
    width: 100%
}

._2H2nMM ._2m0g05 {
    max-width: 100%
}

._3dnYKd {
    width: 408px
}

._3dnYKd ._2m0g05 {
    max-width: 100%
}

@media only screen and (max-width: 1140px) {
    ._3dnYKd {
        width:300px
    }
}

._3AqyYH {
    width: 100%;
    background-color: #2874f0;
    height: 136px;
    overflow: hidden;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._3AqyYH,.p67Usp {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.p67Usp {
    width: calc(100% - 408px);
    max-width: 952px
}

.p67Usp ._3wkiBG {
    display: inline-block;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.p67Usp ._1rLkVb {
    width: 90px;
    display: block;
    margin: 0 auto;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out
}

.p67Usp ._1rLkVb:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.p67Usp ._3xwWCT {
    color: #f0f0f0;
    text-align: center;
    font-size: 16px;
    margin-top: 8px
}

@media only screen and (max-width: 1140px) {
    .p67Usp {
        width:calc(100% - 300px);
        max-width: 840px
    }
}

@media only screen and (min-width: 1650px) {
    .p67Usp ._3wkiBG:last-child {
        margin-right:65px
    }
}

._3gDSOa._2RN9ef ._35Y7Yo {
    fill: #000;
    opacity: .2;
    stroke: transparent
}

._3gDSOa._2kA-_z ._35Y7Yo {
    fill: #ff4343;
    opacity: .9
}

._3gDSOa ._3I1Lzl:nth-child(4):before {
    -webkit-transform: translate3d(-4px,-5px,0);
    transform: translate3d(-4px,-5px,0)
}

._3gDSOa ._3I1Lzl:nth-child(4):after {
    -webkit-transform: translate3d(4px,-5px,0) scale(.7);
    transform: translate3d(4px,-5px,0) scale(.7)
}

._3gDSOa ._3I1Lzl:nth-child(3):before {
    -webkit-transform: translate3d(-5px,-4px,0);
    transform: translate3d(-5px,-4px,0)
}

._3gDSOa ._3I1Lzl:nth-child(3):after {
    -webkit-transform: translate3d(-5px,4px,0) scale(.7);
    transform: translate3d(-5px,4px,0) scale(.7)
}

._3gDSOa ._3I1Lzl:nth-child(2):before {
    -webkit-transform: translate3d(-4px,5px,0);
    transform: translate3d(-4px,5px,0)
}

._3gDSOa ._3I1Lzl:nth-child(2):after {
    -webkit-transform: translate3d(4px,5px,0) scale(.7);
    transform: translate3d(4px,5px,0) scale(.7)
}

._3gDSOa ._3I1Lzl:first-child:before {
    -webkit-transform: translate3d(5px,-4px,0);
    transform: translate3d(5px,-4px,0)
}

._3gDSOa ._3I1Lzl:first-child:after {
    -webkit-transform: translate3d(5px,4px,0) scale(.7);
    transform: translate3d(5px,4px,0) scale(.7)
}

._3gDSOa ._3I1Lzl:after {
    background: #ff9f00
}

._3gDSOa ._3I1Lzl:before {
    background: #ffe11b
}

._3gDSOa .DsQ2eg {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

._3gDSOa ._35Y7Yo {
    fill: #c2c2c2
}

._3gDSOa .r9OBmc {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0
}

._3gDSOa ._22jaBC {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #c62828;
    transition: background .2s ease;
    -webkit-transform: translateZ(0) scale(0);
    transform: translateZ(0) scale(0);
    position: absolute;
    opacity: 1;
    top: -12px;
    left: -10px
}

._3gDSOa ._3I1Lzl:after,._3gDSOa ._3I1Lzl:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    margin: -2px;
    border-radius: 50%
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:first-child:after {
    -webkit-animation: _3z13ic .6s ease .3s;
    animation: _3z13ic .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(4):before {
    -webkit-animation: u9Mhrv .6s ease .3s;
    animation: u9Mhrv .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(4):after {
    -webkit-animation: _2ERa1V .6s ease .3s;
    animation: _2ERa1V .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(3):before {
    -webkit-animation: _3TtatR .6s ease .3s;
    animation: _3TtatR .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(3):after {
    -webkit-animation: _3UC1np .6s ease .3s;
    animation: _3UC1np .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(2):before {
    -webkit-animation: _33IoP_ .6s ease .3s;
    animation: _33IoP_ .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:nth-child(2):after {
    -webkit-animation: _2D5htx .6s ease .3s;
    animation: _2D5htx .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 .r9OBmc {
    -webkit-animation: r9OBmc .6s ease .3s;
    animation: r9OBmc .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._3I1Lzl:first-child:before {
    -webkit-animation: _18Xo9B .6s ease .3s;
    animation: _18Xo9B .6s ease .3s
}

._3gDSOa._2kA-_z._1sNSn9 ._2oLiqr {
    -webkit-animation: _26Tc6u .2s ease .3s forwards;
    animation: _26Tc6u .2s ease .3s forwards
}

._3gDSOa._2kA-_z._1sNSn9 ._22jaBC {
    -webkit-animation: _3d25CI .25s ease .2s forwards;
    animation: _3d25CI .25s ease .2s forwards
}

@-webkit-keyframes _26Tc6u {
    0% {
        -webkit-transform: translateZ(0) scale(0);
        transform: translateZ(0) scale(0)
    }

    40% {
        -webkit-transform: translateZ(0) scale(1.2);
        transform: translateZ(0) scale(1.2)
    }

    to {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }
}

@keyframes _26Tc6u {
    0% {
        -webkit-transform: translateZ(0) scale(0);
        transform: translateZ(0) scale(0)
    }

    40% {
        -webkit-transform: translateZ(0) scale(1.2);
        transform: translateZ(0) scale(1.2)
    }

    to {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }
}

@-webkit-keyframes _3d25CI {
    0% {
        -webkit-transform: translateZ(0) scale(0);
        transform: translateZ(0) scale(0);
        opacity: 1
    }

    to {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        opacity: 0
    }
}

@keyframes _3d25CI {
    0% {
        -webkit-transform: translateZ(0) scale(0);
        transform: translateZ(0) scale(0);
        opacity: 1
    }

    to {
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1);
        opacity: 0
    }
}

@-webkit-keyframes r9OBmc {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes r9OBmc {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes _18Xo9B {
    to {
        -webkit-transform: translate3d(22px,-4px,0);
        transform: translate3d(22px,-4px,0)
    }
}

@keyframes _18Xo9B {
    to {
        -webkit-transform: translate3d(22px,-4px,0);
        transform: translate3d(22px,-4px,0)
    }
}

@-webkit-keyframes _3z13ic {
    to {
        -webkit-transform: translate3d(14px,4px,0) scale(.7);
        transform: translate3d(14px,4px,0) scale(.7)
    }
}

@keyframes _3z13ic {
    to {
        -webkit-transform: translate3d(14px,4px,0) scale(.7);
        transform: translate3d(14px,4px,0) scale(.7)
    }
}

@-webkit-keyframes _33IoP_ {
    to {
        -webkit-transform: translate3d(-4px,22px,0);
        transform: translate3d(-4px,22px,0)
    }
}

@keyframes _33IoP_ {
    to {
        -webkit-transform: translate3d(-4px,22px,0);
        transform: translate3d(-4px,22px,0)
    }
}

@-webkit-keyframes _2D5htx {
    to {
        -webkit-transform: translate3d(4px,18px,0) scale(.7);
        transform: translate3d(4px,18px,0) scale(.7)
    }
}

@keyframes _2D5htx {
    to {
        -webkit-transform: translate3d(4px,18px,0) scale(.7);
        transform: translate3d(4px,18px,0) scale(.7)
    }
}

@-webkit-keyframes _3TtatR {
    to {
        -webkit-transform: translate3d(-22px,-4px,0);
        transform: translate3d(-22px,-4px,0)
    }
}

@keyframes _3TtatR {
    to {
        -webkit-transform: translate3d(-22px,-4px,0);
        transform: translate3d(-22px,-4px,0)
    }
}

@-webkit-keyframes _3UC1np {
    to {
        -webkit-transform: translate3d(-18px,4px,0) scale(.7);
        transform: translate3d(-18px,4px,0) scale(.7)
    }
}

@keyframes _3UC1np {
    to {
        -webkit-transform: translate3d(-18px,4px,0) scale(.7);
        transform: translate3d(-18px,4px,0) scale(.7)
    }
}

@-webkit-keyframes u9Mhrv {
    to {
        -webkit-transform: translate3d(-4px,-22px,0);
        transform: translate3d(-4px,-22px,0)
    }
}

@keyframes u9Mhrv {
    to {
        -webkit-transform: translate3d(-4px,-22px,0);
        transform: translate3d(-4px,-22px,0)
    }
}

@-webkit-keyframes _2ERa1V {
    to {
        -webkit-transform: translate3d(4px,-18px,0) scale(.7);
        transform: translate3d(4px,-18px,0) scale(.7)
    }
}

@keyframes _2ERa1V {
    to {
        -webkit-transform: translate3d(4px,-18px,0) scale(.7);
        transform: translate3d(4px,-18px,0) scale(.7)
    }
}

._4IwqyH.error {
    padding: 40px
}

._3liAhj {
    padding: 16px;
    position: relative;
    transition: box-shadow .2s ease-in-out;
    -webkit-filter: none!important;
    filter: none!important;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="6" /></filter></svg>#filter')
}

._3liAhj ._3rMuct {
    width: 30px;
    border-radius: 4px;
    border: 1px solid #fff;
    z-index: 1;
    line-height: 20px;
    background-color: #d7d7d7;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 24px;
    left: 25px;
    display: block
}

._3liAhj .Zhf2z- {
    position: relative;
    display: block;
    padding-bottom: 5px
}

._3liAhj ._3LWrw9 {
    display: inline-block;
    vertical-align: middle;
    font-size: 0
}

._3liAhj ._3LWrw9._2W3ECG {
    position: absolute
}

._3liAhj .Chym9i {
    height: 18px;
    cursor: pointer
}

._3liAhj ._34CFgI {
    display: none
}

._3liAhj ._3zW5rx {
    display: block
}

._3liAhj ._2ilAR5 {
    color: #878787;
    font-size: 14px;
    font-weight: 500;
    overflow: hidden
}

._3liAhj ._2cLu-l {
    padding-bottom: 5px;
    overflow: hidden;
    display: block
}

._3liAhj ._2cLu-l.okV396:hover {
    color: inherit
}

._3liAhj ._2cLu-l:hover {
    color: #2874f0
}

._3liAhj ._1rcHFq {
    color: #878787;
    font-size: 12px;
    padding-bottom: 5px;
    word-wrap: break-word
}

._3liAhj ._3PA7TA {
    content: " ";
    height: 1px;
    margin: 8px 0;
    background-color: #f0f0f0
}

._3liAhj ._1kV-Zf {
    font-weight: 500;
    line-height: 1.29;
    color: #878787;
    margin-bottom: 2px
}

._3liAhj ._8Vcv_L {
    padding-bottom: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity .3s;
    opacity: 1
}

._3liAhj ._8Vcv_L._371Elc {
    opacity: .6
}

._3liAhj ._29N3iy {
    margin-top: 4px
}

._3liAhj ._1Vfi6u {
    display: block;
    padding: 0 10px 0 0;
    margin: 3px 0
}

._3liAhj ._3ighFh {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    padding: 10px 16px
}

._3liAhj ._3ighFh ._3hobaQ {
    padding-top: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._3liAhj ._3ighFh ._3hobaQ ._3CO8AM {
    display: inline-block;
    position: relative;
    padding-right: 6px;
    cursor: pointer
}

._3liAhj ._3ighFh ._3hobaQ ._1zwe1X {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    border: 3px solid #fff;
    box-shadow: 0 0 3px 0 #c2c2c2
}

._3liAhj ._3ighFh ._3hobaQ ._1zwe1X._24Wzra {
    box-shadow: 0 0 3px 0 #2874f0
}

._3liAhj ._3ighFh .-zScfk {
    color: #2874f0;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding-left: 5px
}

._3liAhj ._3ighFh ._16uBNM {
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer
}

._3liAhj ._3ighFh ._16uBNM .JTHRnG {
    width: 12px;
    height: 7px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

._3liAhj ._1LOQLG {
    position: absolute;
    top: 7px;
    left: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 4px 10px;
    border-radius: 40px
}

._3liAhj ._1LOQLG:before {
    content: "";
    width: 30px;
    height: 21px;
    position: absolute;
    background: #fff;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="6" /></filter></svg>#filter');
    -webkit-filter: blur(6px);
    filter: blur(6px);
    top: 2px;
    left: -9px;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    -webkit-animation: _20mFuy 1s linear 2ms 6 forwards;
    animation: _20mFuy 1s linear 2ms 6 forwards;
    opacity: 0
}

._3liAhj ._3iGnbq {
    position: absolute;
    display: inline-block;
    top: 12px;
    right: 12px;
    cursor: pointer
}

._3liAhj ._3iGnbq ._3zKBQT {
    fill: #ff6161
}

._3liAhj ._3iGnbq ._1uF5jW {
    fill: #c2c2c2
}

._3liAhj:hover ._3ighFh {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,.11)
}

._4IwqyH {
    max-width: 800px!important;
    min-width: 200px!important
}

._4IwqyH.loading {
    width: 400px;
    padding-top: 60px
}

._3liAhj:hover {
    box-shadow: 0 3px 16px 0 rgba(0,0,0,.11)
}

._3liAhj:hover ._3ighFh {
    display: block;
    z-index: 2;
    box-shadow: 0 9px 16px 0 rgba(0,0,0,.11)
}

._3liAhj:hover ._2cLu-l {
    color: #2874f0
}

._3liAhj:hover ._34CFgI {
    display: block
}

._3liAhj:hover._2Vsm67 {
    box-shadow: none
}

._3DlyKI {
    padding: 8px!important
}

._3DlyKI .qeQzGs {
    max-height: none!important
}

._3uF94I {
    width: 100%;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: 500
}

@-webkit-keyframes _20mFuy {
    0% {
        opacity: 0;
        left: -15px
    }

    20% {
        opacity: .3;
        left: 0
    }

    30% {
        opacity: .45;
        left: 5px
    }

    50% {
        opacity: .45;
        left: 15px
    }

    80% {
        opacity: .3;
        left: 28px
    }

    to {
        opacity: 0;
        left: 30px
    }
}

@keyframes _20mFuy {
    0% {
        opacity: 0;
        left: -15px
    }

    20% {
        opacity: .3;
        left: 0
    }

    30% {
        opacity: .45;
        left: 5px
    }

    50% {
        opacity: .45;
        left: 15px
    }

    80% {
        opacity: .3;
        left: 28px
    }

    to {
        opacity: 0;
        left: 30px
    }
}

.fkclp ._3NTa49,.fkhp ._3NTa49 {
    margin-bottom: 16px
}

._3NTa49 {
    border-top: 1px solid #e0e0e0
}

._3NTa49 ._2WNbFM {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._3NTa49 ._2WNbFM ._1AL-My {
    margin-right: 12px
}

._3NTa49 ._2WNbFM ._2E1Y7K {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

._3NTa49 ._2WNbFM ._2E1Y7K .Ul-VjD {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500
}

._3NTa49 ._2WNbFM ._2E1Y7K ._32I3ms {
    font-size: 14px;
    color: #c2c2c2;
    font-weight: 400
}

._3NTa49 ._2WNbFM ._2rQIn7 {
    margin-left: auto
}

._3NTa49 ._1CzqlW {
    text-align: center
}

.RkmWDR {
    border-top: 1px solid #e0e0e0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.RkmWDR ._17rl6s {
    width: 278px;
    box-shadow: 3px 0 6px -2px rgba(0,0,0,.16)
}

.RkmWDR ._10fIYf,.RkmWDR ._17rl6s {
    display: inline-block;
    vertical-align: top
}

.RkmWDR ._10fIYf {
    width: calc(100% - 278px);
    height: 100%
}

._3jr9qz {
    overflow: hidden;
    text-align: center
}

._2CF5FX {
    display: block
}

.nlheXW {
    margin-bottom: 16px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.nlheXW .qqH3kQ {
    display: inline-block;
    vertical-align: top;
    padding: 16px;
    width: 25%;
    border-right: 1px solid #f0f0f0
}

.nlheXW .qqH3kQ:last-child {
    border-right: none
}

.nlheXW ._3EooSz {
    text-align: center;
    margin: 30px auto
}

.nlheXW ._3ix4L1 {
    list-style: none
}

.nlheXW .lwMU9k {
    font-size: 16px;
    color: #212121;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden
}

.nlheXW .lwMU9k:last-child {
    border-bottom: none
}

.nlheXW ._3d9bRl {
    padding: 8px 0;
    display: inline-block;
    width: 100%
}

.nlheXW ._3I1mO1 {
    max-width: 90%;
    display: inline-block;
    vertical-align: middle
}

.nlheXW ._1Qkmxe {
    fill: #212121
}

.nlheXW ._1Mqp5N {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.nlheXW ._2aA8fi {
    float: right
}

.GNVWsF {
    width: 100%
}

._1Xxwmf {
    padding-left: 16px
}

._3phHO1 {
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    overflow: hidden
}

._3phHO1:last-child {
    margin-bottom: 0
}

._2S7EAZ {
    display: block;
    line-height: 0
}

.MxF8Om {
    width: 100%;
    background-color: #ffffe6;
    padding: 8px 20px;
    margin-bottom: 16px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._2GKAD9 {
    margin-right: 8px;
    font-weight: 500
}

._1RgfeG {
    display: inline-block;
    margin-right: 10px
}

.t0Q7Qa {
    margin-left: 20px;
    text-transform: uppercase
}

._1-x0si {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    border-radius: 2px
}

._1-x0si ._10DAOx {
    overflow: hidden;
    position: relative
}

._1-x0si ._10DAOx ._1JmRMG {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .4s ease;
    pointer-events: none;
    display: block
}

._1-x0si ._10DAOx ._1JmRMG ._315cV6 {
    display: block;
    width: 100%
}

.ie9 ._1-x0si ._10DAOx ._1JmRMG,.ie10 ._1-x0si ._10DAOx ._1JmRMG {
    z-index: -1
}

.ie9 ._1-x0si ._10DAOx ._1JmRMG._AK2iI,.ie10 ._1-x0si ._10DAOx ._1JmRMG._AK2iI {
    z-index: 0
}

._1-x0si ._10DAOx ._1JmRMG._AK2iI {
    opacity: 1;
    pointer-events: auto
}

._1-x0si ._3DlVFh {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._1-x0si ._3DlVFh ._38QJK7 {
    border-top: 1px solid #f9f9f9
}

._1-x0si ._3DlVFh ._1JmRMG {
    text-align: center;
    padding: 20px 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 20%
}

._1-x0si ._3DlVFh ._1JmRMG ._9Cj1Qw {
    font-size: 14px;
    font-weight: 500;
    opacity: .4
}

._1-x0si ._3DlVFh ._1JmRMG ._3mv9rD {
    opacity: .4;
    margin-top: 4px;
    height: 15px
}

._1-x0si ._3DlVFh ._1JmRMG._3bfQMI {
    border-bottom: 3px solid #ffe11b;
    color: #000
}

._1-x0si ._3DlVFh ._1JmRMG._3bfQMI ._9Cj1Qw {
    opacity: 1
}

._1-x0si ._1JmRMG {
    display: inline-block
}

.q5dUVm {
    margin-bottom: 16px
}

._1-za7n {
    cursor: pointer
}

.j0PE_- {
    background: #000!important
}

._3nb-hY,.j0PE_- {
    width: 854px;
    height: 480px
}

._2fej_0 {
    min-height: 418px;
    position: relative
}

._2fej_0 .POOfv3 {
    font-weight: 500;
    padding-left: 20px;
    color: #212121;
    font-size: 22px
}

._2fej_0 ._---80_ {
    margin-top: 20px
}

._2fej_0 ._---80_ ._2csnmd {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: -100px
}

._2fej_0 ._---80_.n1hTPr {
    padding-bottom: 15px
}

._2fej_0 ._1HXxPR {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

._2fej_0._2WIUmY {
    min-height: 390px;
    overflow: hidden
}

._2fej_0._2WIUmY .POOfv3 {
    width: 210px;
    float: left;
    min-height: 390px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
    word-wrap: break-word
}

._2fej_0._2WIUmY ._---80_ {
    float: right;
    width: calc(100% - 230px)
}

._2fej_0._2WIUmY ._11seET {
    overflow: hidden
}

._2OYACv {
    margin-top: 24px
}

.DZK0OG {
    margin-bottom: 16px
}

.DZK0OG._2q65Qw {
    margin-top: 20px;
    padding-top: 0
}

.DZK0OG._2q65Qw .POOfv3 {
    padding: 15px 20px 18px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.DZK0OG._2q65Qw ._2OYACv {
    margin-top: 0;
    float: right
}

.LW6A0n {
    height: 362px;
    width: 240px
}

.LW6A0n ._2sh24u {
    height: 47px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    color: #212121
}

.LW6A0n ._2sh24u ._3CCk4k {
    display: inline-block
}

.LW6A0n ._2sh24u ._3CCk4k ._3RYcOT {
    display: inline-block;
    margin-right: 8px;
    margin-left: 18px
}

.LW6A0n ._2sh24u ._3CCk4k .Wl9m-O {
    fill: #878787
}

.LW6A0n ._2sh24u ._3CCk4k ._23Y0jD {
    display: inline-block;
    padding-top: 12px;
    line-height: 1.14
}

.LW6A0n ._2dEpja {
    margin-top: 15px
}

.LW6A0n ._1GgeA2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 15px 24px 0;
    font-size: 14px;
    line-height: 1.14;
    color: #212121
}

.LW6A0n .QDMPm4 {
    margin: 8px 24px 0;
    display: inline-block
}

.LW6A0n .QDMPm4 ._1VKd1s {
    font-size: 14px;
    display: inline-block;
    font-weight: 500;
    color: #212121
}

.LW6A0n .QDMPm4 ._38aScl {
    text-decoration: line-through;
    color: #878787
}

.LW6A0n .QDMPm4 ._1iPpJe,.LW6A0n .QDMPm4 ._38aScl {
    display: inline-block;
    margin-left: 7px;
    font-size: 14px
}

.LW6A0n .QDMPm4 ._1iPpJe {
    font-weight: 500;
    color: #388e3c
}

.LW6A0n ._31g1rJ {
    margin: 8px 24px 0;
    font-size: 14px;
    font-weight: 500;
    color: #878787
}

.LW6A0n ._3pI0pJ {
    margin: 8px 16px 12px
}

.LW6A0n ._3pI0pJ ._3HwgBs {
    text-transform: uppercase;
    width: 100%;
    height: 48px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2)
}

.KpZyxW {
    position: relative;
    padding: 4px
}

.KpZyxW ._2PrdyR {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 354px
}

.KpZyxW ._2PrdyR._2ckyh0 {
    height: 242px
}

.KpZyxW ._1mkrTD {
    max-width: 100%;
    max-height: 100%
}

.KpZyxW .nJyyOF {
    display: block
}

._2ywRxH {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 2px;
    width: 240px;
    height: 56px;
    margin-left: -4px;
    text-align: center
}

._2ywRxH ._2W0aeN {
    margin-top: 2;
    width: 100%
}

._2ywRxH ._2W0aeN ._3t73N8 {
    display: block;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

._2ywRxH ._2wS9tD {
    margin-top: 2px
}

._2ywRxH ._2wS9tD .oCyEJg {
    display: inline-block;
    margin-right: 5.5px;
    vertical-align: bottom;
    width: 18px
}

._2ywRxH ._2wS9tD ._3SlojL {
    font-weight: 500;
    font-size: 16px
}

._3ASC5h {
    position: relative
}

._3ASC5h .DDFbaS {
    margin: 0 0 16px;
    height: 280px;
    background: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)
}

._3ASC5h ._3HrUun {
    position: relative;
    height: 366px
}

._3ASC5h ._17Do8s {
    position: absolute;
    left: 8px;
    padding: 8px;
    top: 0;
    right: 256px;
    height: 336px;
    background: #fafafa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)
}

._3ASC5h ._17Do8s ._3tSWTf {
    -webkit-transform: translate3d(24px,70px,0);
    transform: translate3d(24px,70px,0);
    height: 290px;
    width: 95%;
    background: #fff
}

._3ASC5h ._17Do8s ._2X0KPO {
    display: inline-block;
    background: #fafafa;
    margin: 16px;
    width: 152px
}

._3ASC5h ._17Do8s ._2tyntI {
    height: 152px
}

._3ASC5h ._17Do8s ._1WvLtc {
    height: 16px
}

._3ASC5h ._17Do8s ._1Xqeou {
    padding-left: 24px
}

._3ASC5h .TLNxX9 {
    position: absolute;
    right: 0;
    padding: 0 0 0 8px
}

._3ASC5h .TLNxX9 .I15ZtN {
    width: 238px;
    background: #fff;
    padding: 4px;
    height: 366px
}

._1VV5Cf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 12;
    pointer-events: none;
    background: hsla(0,0%,100%,.3);
    opacity: 1;
    transition: opacity .3s ease-out .6s
}

._1VV5Cf ._1SFos- {
    height: 100%;
    width: 100%;
    background: #ffe11b;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scaleX(0);
    transform: scaleX(0)
}

._1VV5Cf ._1SFos-._14bj8B {
    -webkit-animation: _1VV5Cf 20s ease-in-out 0s forwards;
    animation: _1VV5Cf 20s ease-in-out 0s forwards
}

._1VV5Cf._1QHAXj {
    opacity: 0
}

@-webkit-keyframes _1VV5Cf {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }

    to {
        -webkit-transform: scaleX(.1);
        transform: scaleX(.1)
    }
}

@keyframes _1VV5Cf {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }

    to {
        -webkit-transform: scaleX(.1);
        transform: scaleX(.1)
    }
}

._2H8fsc {
    text-align: center
}

._2H8fsc ._1lC95o {
    color: #212121;
    font-weight: 500;
    font-size: 34.6px;
    margin: 20px 0 10px
}

._2H8fsc ._2RFDxU {
    color: #878787;
    font-size: 20px;
    margin-bottom: 8px
}

._2H8fsc ._2QL3XM {
    text-transform: uppercase;
    font-size: 16px
}

._2d85jU {
    font-size: 24px!important
}

._2C9iPJ {
    height: 265px
}

._1DGioG ._21US2t {
    display: none
}

._1DGioG ._218svP {
    margin: 0 auto;
    min-width: 978px;
    max-width: 1680px
}

._1DGioG ._1wahZU {
    margin: 0 8px
}

._1DGioG .Gl_qFw {
    margin: 16px 8px 0
}

._1DGioG ._1UixSt {
    padding: 150px 0;
    margin-top: 20px;
    padding: 100px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

._1DGioG ._3uAdK8 {
    width: 100%;
    min-height: 400px;
    margin-bottom: 25px
}

._1DGioG ._3uAdK8 ._1UixSt {
    margin-top: 20px;
    padding: 150px 0;
    text-align: center
}

._1DGioG ._2EuUPY {
    width: 236px;
    margin-left: 23px
}

._1DGioG ._1Bm1Kg {
    margin-top: 20px;
    text-align: center;
    min-height: 100px;
    display: block
}

._1DGioG ._1Bm1Kg ._1fl44r {
    max-width: 1280px;
    max-height: 100px
}

._1DGioG .WK6m2Q {
    padding: 160px 0;
    text-align: center;
    margin-top: 20px;
    display: block
}

._1DGioG .WK6m2Q .i1jYdE {
    background: #006cb4;
    border-radius: 50%;
    display: inline-block;
    height: 34px;
    width: 35px;
    line-height: 42px;
    vertical-align: bottom;
    margin-right: 10px
}

._1DGioG .WK6m2Q .d-ttmo {
    display: inline-block;
    text-align: left
}

._1DGioG ._1AUIxL {
    background-color: transparent;
    color: #666
}

._1DGioG ._1AUIxL ._218svP {
    width: 100%;
    margin: 0 auto;
    height: 35px;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    padding: 8px 0;
    text-align: center
}

._1DGioG ._1AUIxL ._218svP ._1UsZtn {
    display: inline-block;
    padding: 1px 6px;
    border-right: 1px solid #ddd
}

._1DGioG ._1AUIxL ._218svP ._38gZlP {
    padding: 1px 8px
}

._1DGioG ._1AUIxL ._218svP ._38gZlP:after {
    display: inline-block;
    content: "\2192";
    margin-left: 8px
}

._1DGioG ._1qBnGt {
    margin-top: 20px
}

._1DGioG .JWUBrt {
    margin: 0 8px 16px;
    padding-bottom: 16px
}

._1DGioG ._34MJqW {
    margin: 0 8px
}

._1DGioG ._3FsEL5 {
    position: relative;
    width: 100%;
    height: 380px
}

._1DGioG ._3FsEL5 .q6of9m {
    position: absolute;
    right: 264px;
    top: 0;
    bottom: 0;
    left: 8px
}

._1DGioG ._3FsEL5 ._1pSchG {
    margin-bottom: 16px;
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0
}

._1DGioG ._2X1MFx {
    padding: 0
}

._1DGioG ._2MI72H {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 20px;
    line-height: 32px
}

._1DGioG ._2kDmfE {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35px;
    font-size: 15px;
    text-align: center;
    z-index: 3;
    background-color: #005387;
    color: #fff
}

._1DGioG ._2kDmfE .lqcFWO {
    position: relative;
    margin: 10px auto
}

@media (max-width: 1140px) {
    ._1DGioG ._1AUIxL ._218svP {
        display:-webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

@media (max-width: 1140px) {
    ._1DGioG ._1AUIxL ._218svP ._1UsZtn {
        text-overflow:ellipsis;
        overflow: hidden
    }
}

@media (max-width: 1140px) {
    ._1DGioG ._1AUIxL ._218svP ._1UsZtn,._1DGioG ._1AUIxL ._218svP ._38gZlP {
        white-space:nowrap;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1
    }
}

._3JlYXy {
    width: 100%;
    position: relative
}

._3JlYXy ._3ZJShS {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

._31bMyl {
    overflow: hidden;
    position: relative;
    -webkit-filter: none!important;
    filter: none!important
}

._31bMyl ._3togXc {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    transition: opacity .5s linear;
    opacity: 1;
    margin: auto;
    z-index: 0
}

._31bMyl._2P0_Cg ._1QW_Vg,._31bMyl._2P0_Cg ._3togXc {
    width: 100%
}

.LDZ3w-:last-child {
    padding-right: 0
}

.fkclp ._1j9N0F,.fkhp ._1j9N0F {
    margin-bottom: 16px
}

.fkclp ._1NRLX4,.fkhp ._1NRLX4 {
    margin-top: 8px
}

._1j9N0F {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.LDZ3w- {
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    padding: 0 4px
}

.LDZ3w- ._1Ccxyw {
    width: 100%;
    border-radius: 2px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.08);
    overflow: hidden
}

.LDZ3w-:first-child {
    padding-left: 0
}
